<section class="shelter-show">
  <header class="page-header">
    <h1> <%= @shelters.name %> <h1>
    <h6>A: <%= @shelters.address %> </h6> 
    <h6> P: <%= @shelters.phone %> </h6> 
    <h6>E: <%= @shelters.email %> </h6>
    <h6>W: ----- </h6> 
    <h6>Hours: ----- </h6> 
  </header>
  
  <article class="shelter-detail">
  <%= image_tag @shelters.image.url, class: 'main-img' %>
    <p><%= @shelters.description %></p>
  <div>
    <h3>Current Accomodation Availability: </h3>
  
    <% if @shelters.accept_woman %>
      Women: <%= @shelters.women_capacity%> 
      <% else %>
       Women Accomodation Not Available
    <% end %>
    <br>
    <% if @shelters.accept_man %>
      Men: <%= @shelters.men_capacity%>
    <% else %>
      Men Accomodation Not Available
    <% end %>
    <br>
    <% if @shelters.accept_kids %>
      Children: <%= @shelters.children_capacity%>
    <% else %>
      Children Accomodation Not Available  
    <% end %>
    </div>
    
    <p> Cafeteria Available: <%= boolean_check(@shelters.cafeteria) %> </p>
    <p> Clothing Available: <%= boolean_check(@shelters.clothing) %> </p>
    <p> Bathroom Services: <%= boolean_check(@shelters.restroom_service) %> </p>
    <p> Counselling Services: <%= boolean_check(@shelters.counselling_service) %> </p>

    </div>
   
   
  </article>

</section>
