<%= form_tag filter_admin_donations_path, method: :get do %>
  <div class="field">
    <%= label_tag :start_date, 'Start Date' %>
    <%= text_field_tag :start_date, params[:start_date] %>
  </div>
  <div class="field">
    <%= label_tag :end_date, 'End Date' %>
    <%= text_field_tag :end_date, params[:end_date] %>
  </div>
  <%= submit_tag 'Filter' %>
<% end %>
