<tr>
  <td>
    <h4><%= shelter.name %></h4>
    <br>
    <p><%= shelter.description %></p>
  </td>
  <td>
    <%= shelter.category.name %>
  </td>
  <td>
    <%= shelter.current_women + shelter.current_men + shelter.current_children %> Total<br>
    <%= shelter.current_women %> Women<br>
    <%= shelter.current_men %> Men<br>
    <%= shelter.current_children %> Children
  </td>
  <td>
    <%= link_to fa_icon('trash'), [:admin, shelter], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
    
  </td>
  <td><%= link_to fa_icon('edit'), edit_admin_shelter_path(shelter), class: 'btn btn-sm btn-warning' %></td>
</tr>